<div class="content-wrapper">
  <div class="content-block">
  <%# <% @items.each do |item| %>
    <div class="content">
          <div class="user-about">
            <div class="image">
              <%# <% if item.user.image.attached? %>
                <%# <%= image_tag item.user.image %>
              <%# <% else %>
                 <%= image_tag "nouser.png" %>
              <%# <% end %>
            </div>

            <div class="profile">
              <div class="name-about">
                <div class="name">
                和食割烹　熊谷
                  <%# <%= item.user.name %>
                </div>
              </div>
              <div class="detail">
              大正時代に創業
                <%# <%= item.user.detail %>
              </div>
            </div>
          </div>

          <%# <% if item.images.attached? %>
            <div class="images">
              <%# <%= link_to item_path(item.id) do %>
                <%# <% item.images.each do |image| %>
                <%# <%= image_tag image %>
              <%# <% end %>
            </div>
          <%# <% end %>
        <%# <% end %>


        <div class="text">
        <p>サンプルテキストですサンプルテキストですサンプルテキストですサンプルテキストです</p>
        <p>サンプルテキストですサンプルテキストですサンプルテキストですサンプルテキストです</p>
           <%# <%= item.content %>
        </div>
      </div>
   <%# <% end %>
  </div>
</div>